/* CSS spcific to this site */

/* Allow figures to be left aligned with a class */
#body figure.img-left {
    margin-left: 0;
}
#body figure.img-left > a > img {
    margin-left: 0;
}

#body figure.img-raw > a > img[style] {
    display: inline !important;
}

#sidebar p.copyright {
    color: var(--MENU-SECTIONS-LINK-color) !important;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .15px;
    line-height: 150% !important;
}