<div class="expand">
    <div class="expand-label" style="cursor: pointer;"
        onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
        <i style="font-size:x-small;" class="fas fa-chevron-right"></i>
        <span>
            Click here if you have not yet configured your AWS account with event engine.
        </span>
    </div>
    <div class="expand-content" style="display: none;">
        <h4>You only need to do this once!</h4>
        You only need to login to your provisioned AWS account once, so skip these steps if you have done them already.  
        <h4>Open <a href="https://dashboard.eventengine.run/" target="_blank">AWS Event Engine</a></h4>
        <img src="/images/EventEngine-hash.PNG"/>
        
        <h4>Enter the 12-digit event hash (provided directly to you when you registered) and click "Accept Terms and Login".</h4>
        <img src="/images/EventEngine-Accept.png"/>
        
        <h4>Choose "Continue with Login with Amazon"</h4>
        <img src="/images/EventEngine-3.PNG"/>    
        
        <h4>To provision an account just for you, we need an email. Sign in with your personal Amazon account, or create a new one.</h4>
        <img src="/images/EventEngine-4.PNG"/>
        
        <h4>Once you've completed the login, and approved API Access, you'll see your team dashboard. 
        From here you can change your team name and access your lab AWS account. It's a good idea to keep this page open throughout the event.</h4>
        
        <h4>Press "AWS Console" to access the details for your temporary lab account.</h4>
        <img src="/images/EventEngine-5.PNG"/>
        
        <h4>Press "Open AWS Console"</h4>
        <img src="/images/EventEngine-6.PNG"/>
        
        <h4>If you see the AWS Console home page your account is ready.</h4>
    </div>
</div>